/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Jan, 2015, 3:05:09 PM
    Author     : ABC
*/

html{
    position:relative;
    min-height: 100%;
}
body 
{
  margin-bottom: 40px;
}
 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 50%;
      margin: auto;
  }